.section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--about {
  align-content: center;
}

.section__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.section__bg-image-wrapper.home::after {
  background: linear-gradient(103.59deg, rgba(24, 26, 41, 0.85) 2.03%, rgba(24, 26, 41, 0.45) 98.49%);
}

.section__bg-image-wrapper::after {
  background: rgba(7, 8, 17, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: "";
  z-index: 2;
}