@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "../mixin/shared.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./_sections.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #c6c6c6;
  --color-gray-2: #666a8f;
  --color-gray-3: #2d314c;
  --color-gray-4: #23263e;
  --color-primary: #181a29;
  --color-secondary: #ffb53e;
  --color-secondary-2: #ffc576;
  --color-danger: rgba(255, 14, 14, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.srt-wrap::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

abbr {
  text-decoration: none !important;
  cursor: help;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));


  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  letter-spacing: 0.5px;

  /* Prevent MacOS Over Scroll */
  // overscroll-behavior-y: none;

  /* body has min-width 100% */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
  /* expand main to cover page when smaller then 100vh */
  flex: 1;
}

/* Allows you to enable CSS on IOS for
 buttons links and inputs */

input,
a,
button {
  -webkit-appearance: none;
  border-radius: 0;
}

.section-width {
  margin-left: auto;
  margin-right: auto;
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1360px;
  width: 100%;

  & .animate__hidden {
    transition: 100ms opacity;
    opacity: 0;
  }

  & .animate__fadeIn {
    opacity: 1;
  }

  @include media("<desktop-large") {
    padding-right: 50px;
    padding-left: 50px;
  }

  @include media("<desktop") {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include media("<mobile-large") {
    padding-right: 25px;
    padding-left: 25px;
  }

  &--padding {
    padding-top: 100px;
    padding-bottom: 100px;

    @include media("<tablet") {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &--bordered-top {
    padding-top: 200px;

    @include media("<tablet-large") {
      padding-top: 150px;
    }

    @include media("<mobile-large") {
      padding-top: 100px;
    }
  }

  &--bordered-bottom {
    padding-bottom: 200px;

    @include media("<tablet-large") {
      padding-bottom: 150px;
    }

    @include media("<mobile-large") {
      padding-bottom: 100px;
    }
  }
}


.website-wrapper {
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
  opacity: 0;
}